.email-popup-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    
    table{
        tr{
            font-size: 2rem;
            font-weight: 500;
            td{
               width: 25rem;
               height: 7rem;
               text-align: center;
               button{
                   background-color: #E3FFF3;
                   color:#036A20;
                    padding: 1.5rem;
                    width: 26rem;
                    font-size: 1.5rem;
                    margin: 0;
                }
            }
        }
        
    }
}

.email-popup-bottom{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    .reply{
        background-color: #2186f2;
        height:3rem;
        color: #fff;
        font-weight: 700;
        font-size: 2rem;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        
      
      }
      .btn-cancel{
        background-color:   #F4F4F4 ;
        color: #9F9F9F;
            font-weight: 700;
            font-size: 1.9rem;
            width: 13rem;
            text-align: center;
            position: inherit;
            // top:-0.8rem;
    
        }
}