.generate_box{
    position: absolute;
    width: 96%;
    height: 100%;
    margin-left: -5px;
    top: 120px;
    
    background: #f1eeee;
}
.backarrow{
    position: absolute;
    left: 1.3%;
    right: 12.54%;
    top: 2.83%;
    bottom: 20.83%;
}
.Custom_contain{
    position: absolute;
    width: 145px;
    height: 49px;
    justify-self: end;
    
    align-items: center;
    left : 86%;
    top: 13px;
    
    background: #FFFFFF;
    border: 1px solid #EBE9E9;
    box-sizing: border-box;
    border-radius: 46px;
    
}