.message {
  &-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 3rem;
    height: calc(100vh - 25rem);
    margin-bottom: 2rem;
  }

  &-left {
    overflow-y: scroll;
    margin-bottom: 3rem;

    &-btns {
      display: flex;
      text-align: center;
      margin: 3rem 0;
    }
  }

  &-right {
    display: grid;
    grid-template-rows: 6rem 1fr 10rem;
    height: calc(100vh - 7rem);
    background: #fff;
    padding: 1rem;
    border-radius: 2rem;

    &-topbar {
    }

    &-middle {
      overflow-y: scroll;
      margin-bottom: 3rem;
      &-overflow {
        height: 100%;
      }
    }

    &-bottom {
    }
  }

  &-search-box {
    display: flex;
    align-items: center;
    background-color: var(--search-bar);
    padding: 1rem 1.3rem;

    border-radius: 2rem;

    svg {
      height: 1.8rem;
      margin-right: 0.5rem;
      transform: rotate(270deg);
    }
  }
}
