.candidates {
  &-container {
    display: grid;
    grid-template-columns: 39rem 1fr;
  }
  &-nrml {
    display: inline-block;

  }

  // &-right {
  //   grid-column: 2/-1;
  // }

  &-left {
    &-container {
      position: fixed;
      overflow-y: scroll;
      padding: 3rem;
      margin-right: 3rem;
      background-color: #fff;
      border-radius: 2rem;
      height: calc(100vh - 11rem);
      width: 36rem;
      box-shadow: 0px 12px 23px rgb(0 0 0 / 10%);

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }

    &-filter-box {
      &-heading {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1.7rem;
        margin: 1rem 0;
        cursor: pointer;
        svg {
          margin-left: 0.5rem;
        }
      }

      .filter-dropdown1 {
        display: flex;
        height: 8rem;
        transition: all 0.3s ease-in-out;

        .form-group {
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
      .filter-dropdown2 {
        height: 26rem;
        transition: all 0.3s ease-in-out;

        .check-form {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          input {
            margin-right: 2rem;
          }
        }
      }
      .filter-dropdown3 {
        height: 5rem;
        transition: all 0.3s ease-in-out;
      }
      .filter-dropdown4 {
        height: 15rem;
        transition: all 0.3s ease-in-out;
      }
      .filter-dropdown5 {
        height: 13rem;
        transition: all 0.3s ease-in-out;

        .check-form {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          input {
            margin-right: 2rem;
          }
        }
      }
      .filter-dropdown6 {
        height: 32rem;
        transition: all 0.3s ease-in-out;

        .check-form {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          input {
            margin-right: 2rem;
          }
        }
      }
    }

    &-heading {
      font-size: 2.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      margin-bottom: 2.5rem;

      svg {
        margin-right: 1rem;
      }
    }
  }
}

.candi-batch-action {
  &-rel {
    position: relative;
  }

  &-square {
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: #fff;
    top: -0.9rem;
    left: 50%;
    transform: translatex(-50%) rotate(45deg);
  }

  position: absolute;
  top: 3.8rem;
  left: -1rem;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: height 0.3s, visibility 0.4s, opacity 0.4s;
  width: 18rem;

  box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  list-style: none;

  li {
    margin: 1rem 0;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(233, 233, 233);
      border-radius: 2rem;
    }

    img {
      margin-right: 1rem;
    }
  }
}

.candi-batch-visible {
  visibility: visible;
  opacity: 1;
  height: 26rem;
  width: 18rem;
}


.candi-batch-arrow {
  transition: all 0.2s;
}

.candi-batch-rotate {
  transform: rotate(180deg);
}

.candi-batch-rotate {
  transform: rotate(180deg);
}

.form-label {
  display: block;
  margin: 1rem 0;
}
.form-input {
  border: 1px solid #ccc !important;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  width: 10rem;
}

// filter toggle
.form-visible {
  opacity: 0;
  height: 0 !important;
  visibility: hidden;
}

.pagination{
  display: flex;
  justify-content: flex-end;

  li{
      margin-right: 1rem;
      margin-left: 1rem;
      list-style: none;

      display: flex;
      background-color: #fff;
      border-radius: 2rem;
      box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
      display: inline-block;
      padding: 1rem 1.5rem;
      cursor: pointer;
  }
  .active{
      background-color: #2186f2;
      color: #fff;
  }
}