.requirements {
  &-list {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 2rem;

    &-headings {
      display: flex;
      justify-content: space-between;

      div {
        cursor: pointer;
      }
    }
  }
  .req-batch-visible {
    visibility: visible;
    height: 17.7rem;
    opacity: 1;
    height: 18rem;
    width: 15rem;
  }
}
