.feedbackForm-popup-body{
height: 56rem;
    
    .form-head{
    margin-left: 2rem;
    margin-top: 2rem;
    padding: 3rem;
    table{
        width: 100%;
        height: 14rem;
        border-radius: 2rem;
        margin-right: 1rem;
        padding-left: 3rem
    }
    table,tr{   
        border: 1px solid black;
        th{
            margin-left: 2rem;
        }
    }
}

.createjob-adddoc-batch{
    p{
        border-bottom: 1px solid #515151;
        width: 50%;
        color:#515151;
        margin-bottom: 0;
    }
    
}


}