

.feedbackForm-popup-body{
    height: 70rem;
        
        .form-head{
        margin-left: 2rem;
        margin-top: 2rem;
        padding: 3rem;
     
    }
    
    .createjob-adddoc-batch{
        p{
            border-bottom: 1px solid #515151;
            width: 50%;
            color:#515151;
            margin-bottom: 0;
        }
        
    }
    .reply{
        background-color: #2186f2;
        height:3rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        
      
      }
      .btn-cancel{
        background-color:   #F4F4F4 ;
        color: #9F9F9F;
            font-weight: 700;
            font-size: 1.9rem;
            width: 13rem;
            text-align: center;
            position: relative;
            top:-0.8rem;
      
        }
    
    
    }