.email-popup {
    &-container {
      width: 100vw;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.637);
      z-index: 2000;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
    }
  
    background-color: #fff;
    width: 80rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
    overflow: hidden;
  
    &-top {
      background-color: var(--primary);
      display: flex;
      padding: 1.5rem 1.2rem;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      height: 7rem;
  
      img {
        height: 2.5rem;
        cursor: pointer;
      }
    }
    &-title{
        font-weight: 600;
        font-size: 2rem;
        margin-left: 1rem;
    }
  
    &-body {
      padding: 2rem;
      text-align: left;
      .input-container {
        margin-bottom: 1.8rem;
        // background-color: red;
        // margin-top: 10rem;
        text-align: left;
        
        



        label {
          display: block;
          margin-bottom: 1rem;
        //   margin-left: 4rem;
        font-size: 1.7rem;
        color:#515151;
          
        }
        
        .input-box{
            display: flex;
            // justify-content: center;
            input{
                height: 4rem;
                width: 40%;
                border:1px solid #EBE9E9;
                border-radius: 0.7rem;
    
          
            }


            .ReactTags__tags {
              position: relative;
         
            }
          
            .ReactTags__clearAll {
              cursor: pointer;
              padding: 10px;
              margin: 10px;
              background: #f88d8d;
              color: #fff;
              border: none;
            }
          
            /* Styles for the input */
            .ReactTags__tagInput {
              border-radius: 2px;
              display: inline-block;
            }
            .ReactTags__tagInput input.ReactTags__tagInputField,
            .ReactTags__tagInput input.ReactTags__tagInputField:focus {
              height: 41px;
              margin: 0;
              font-size: 12px;
              border: 1px solid #eee;
              min-width: 263px;
              padding: 0.5rem;
            }
          
            .ReactTags__editInput {
              border-radius: 1px;
            }
          
            .ReactTags__editTagInput {
              display: inline-flex;
            }
          
            /* Styles for selected tags */
            .ReactTags__selected span.ReactTags__tag {
              border: 1px solid #ddd;
              background: #fff;
              color: black;
              font-size: 12px;
              display: inline-block;
              padding: 5px;
              margin: 0 5px;
              border-radius: 2px;
            }
            .ReactTags__selected span.ReactTags__tag:first-child {
              margin-left: 0px;
            }
            .ReactTags__selected a.ReactTags__remove {
              color: #aaa;
              margin-left: 5px;
              cursor: pointer;
            }
          
            /* Styles for suggestions */
            .ReactTags__suggestions {
              position: absolute;
              top:60px;
            }
            .ReactTags__suggestions ul {
              list-style-type: none;
              box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
              background: white;
              width: 200px;
            }
            .ReactTags__suggestions li {
              border-bottom: 1px solid #ddd;
              padding: 5px 10px;
              margin: 0;
            }
            .ReactTags__suggestions li mark {
              text-decoration: underline;
              background: none;
              font-weight: 600;
            }
            .ReactTags__suggestions ul li.ReactTags__activeSuggestion {
              background: #b7cfe0;
              cursor: pointer;
            }
          
            .ReactTags__remove {
              border: none;
              cursor: pointer;
              background: none;
              color: #000;
            }


        }
    }
    }
  
    &-headings {
      display: flex;
      justify-content: space-between;
  
      .p {
        margin-left: 3.4rem;
      }
  
      .a {
        margin-right: 9.3rem;
      }
    }
  
    &-line {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      margin: 3rem 0;
      font-size: 1.5rem;
  
      &-left {
        display: flex;
        align-items: center;
  
        //   svg {
        //     border: 1px solid #ccc;
        //     border-radius: 50%;
        //   }
  
        svg,
        div {
          margin-left: 2rem;
        }
      }
    }
  
    &-btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
      justify-items: center;
    }
  
    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3rem;
  
      div {
        font-size: 1.2rem;
        margin-left: 1rem;
      }
      .reply{
        background-color: #2186f2;
        height:3rem;
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        padding: 2rem;
        
      
      }
      .btn-cancel{
        background-color:   #F4F4F4 ;
        color: #9F9F9F;
            font-weight: 700;
            font-size: 1.9rem;
            width: 13rem;
            text-align: center;
            position: relative;
            top:-0.8rem;
    
        }
    }
  }
  
  .btn-skip {
    padding: 0.5rem 1.5rem;
    border: 1px solid #ccc;
    color: #ccc;
    width: 60%;
    margin-left: 4rem;
  }
  
  .btn-publish {
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--primary);
    color: #fff;
    background-color: var(--primary);
    width: 60%;
    margin-right: 4rem;
  }
  
  .job-success {
    padding: 3rem;
    text-align: center;
    color: rgb(170, 170, 170);
  }
  