.hero-left {
  left: 0;
  top: 0;
  position: fixed;
  width: 28rem;
  background-color: var(--primary);
  padding: 3.2rem 0;
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 6rem 1fr;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  ul {
    margin-left: 4rem;
    li {
      display: grid;
      grid-template-columns: 4.8rem 1fr;
      margin: 2rem 1.8rem;
      padding: 1.6rem 0;
      color: #fff;
      cursor: pointer;
      align-items: center;
      svg {
        height: 1.9rem;
        width: 1.9rem;
      }
    }
  }
}
