.email-search-box1{
    position: absolute;
width: 536px;
height: 49px;

top: 129px;
display: flex;

align-items: center;
background: #FFFFFF;
border: 1px solid #EBE9E9;
box-sizing: border-box;
border-radius: 46px;
    
      input{
          width  : 290px;
          padding-left: 30px;
      }
}
.job-sort-batch-visible1 {
    visibility: visible;
    height: 17.7rem;
    opacity: 1;
    height: 21rem;
    width: 22rem;
    left: -9rem;
}