.email {
  &-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 3rem;
    height: calc(100vh - 25rem);
    margin-bottom: 2rem;
    zoom: 95%;
  }

  &-left {
    padding: 1rem;
    .side-heading {
      margin-bottom: 2rem;
    }

    .email-batch-action {
      &-rel {
        position: relative;
      }
  
      &-square {
        width: 2rem;
        height: 2rem;
        position: absolute;
        background-color: #fff;
        top: -0.9rem;
        left: 50%;
        transform: translatex(-50%) rotate(45deg);
      }
    
      position: absolute;
      top: 4.8rem;
      left: -6.7rem;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: height 0.3s, visibility 0.4s, opacity 0.4s;
      width: 16rem;

      box-shadow: 0px 12px 23px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      padding: 1rem;
      border-radius: 2rem;
      list-style: none;
    
      li {
        margin: 1rem 0;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        transition: all 0.3s;
    
        &:hover {
          background-color: rgb(233, 233, 233);
          border-radius: 2rem;
        }
    
        img {
          margin-right: 1rem;
        }
      }
    }
    
    .email-batch-visible {
      visibility: visible;
      height: 6.7rem;
      width: 16rem;
      opacity: 1;
    }
    
    &-info-box{
      overflow-y: scroll;
      height: 89rem;
    }
    &-info-box::-webkit-scrollbar{
      display: none;
    }
    &-btns {
      display: flex;
      text-align: center;
      margin: 3rem 0;
    }
  }



  &-right {
    display: grid;
    grid-template-rows: 6rem 10rem 0.8fr 2rem;
    // height: calc(100vh - 7rem);
    background: #fff;
    padding: 1rem;
    border-radius: 2rem;
    margin-top: 6rem;

    &-topbar {
      font-weight: 800;
      margin: 1rem;
      margin-bottom: 2rem;
      font-size: 2rem;

      &-info {
        display: flex;
        height: 9rem;
        display: flex;
        justify-content: space-between;
        &-content {
          display: flex;
          justify-content: space-between;
          img {
            height: 6rem;
            width: 6rem;
          }
          h1 {
            font-weight: 300;
            margin-left: 2rem;
            color: #878787;

            h6 {
              margin-top: 1rem;
              font-weight: 400;
            }
          }
        }
        .time{
            margin-right: 2rem;
        }
      }
    }

    &-middle {
      overflow-y: scroll;
      margin-bottom: 3rem;
      &-overflow {
        h3 {
          height: 100%;
          font-weight: 400;
          line-height: 1.6;
          margin: 1.5rem;
          color: #878787;
        }
      }
    }

    &-middle::-webkit-scrollbar{
      display: none;
    }

    &-bottom {
      width: 100%;
      .textbox {
        height: 10rem;
        width: 100%;
        border: 2px solid #2186f2;
        border-radius: 1rem;
        input{
          margin: 2rem;
        }
        
      }
     
      &-editorOption{
        // background-color: green;
        height: 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        .buttons1{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .reply{
            background-color: #2186f2;
            height:5rem;
            color: #fff;
            font-weight: 700;
            font-size: 2rem;
            align-items: center;
            display: flex;
            justify-content: space-evenly;
            padding: 2rem;
            
          
          }
          img{
            margin-right: 2rem;
          }
        }
        .buttons2{
          display: flex;
          align-items: center;
          justify-content: space-around;
          img{
            margin-right: 2rem;
          }
        }
        
      }
    }
  }

  

  &-search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem 1.3rem;
    margin-bottom: 2rem;
    border-radius: 2rem;

    svg {
      height: 1.8rem;
      margin-right: 0.5rem;
      transform: rotate(270deg);
    }
  }
}
